
/* -------------------------FONTS------------------------ */

/*-----------HINDI-----------------------
font-family: 'Amita', cursive;
font-family: 'Arya', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Rozha One', serif;
*/
/*-------------------- English--------------------------

font-family: 'Damion', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Mystery Quest', cursive;
font-family: 'Permanent Marker', cursive;
*/

/*------------------------- NAVBAR -------------------------------*/
nav{
    border-radius: 0.5em 0.5em 0 0 !important;
}
/* --------------------------------HEADER --------------------------------*/
header{
    border-radius: 0 0 0.5em 0.5em !important;
}
header h1{
    font-family: 'Amita', cursive;
    background: -webkit-linear-gradient(45deg, #05386b,  black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
    .jumbotron h1 {
    font-size: 4rem!important;
  } 
  blockquote p{
    font-size: 1rem !important;
}
} 
@media (min-width: 576px) {
    .jumbotron h1 {
    font-size: 5rem !important;
  } 
  .jumbotron hi .flipName
  {
      display: block;
  }
}
@media (min-width: 1200px) {
    .jumbotron h1 {
    font-size: 7rem !important;
  } 
  .jumbotron hi .flipName
  {
      display: block;
  }
}

/*------------------------------- HEADING NAME FLIP------------------------------  */

.flipLetter-eng,  .flipSuffix-hin{
    display: none;
 }
 .flipName:hover .flipLetter-eng{
     display: initial;
 }
 .flipName:hover .flipSuffix-hin{
     display: initial;
 } 
 .flipName:hover .flipLetter-hin{
     display: none;
 }
 .flipName:hover .flipSuffix-eng{
     display: none;
 }
 

 /* --------------------QUOTES--------------------------------------- */

 .carousel
 {
     height: 8rem;
 }
 .carousel ol{
     top: 8em;
 }
 .carousel-inner{
     height: 95% !important;
     font-family: 'Arya', sans-serif;
 }
 blockquote p{
     font-size: 1.4rem !important;
 }
 blockquote footer{
     font-size: 90% !important;
 }
/* ---------------------RESUME-------------- */
.resume-btn
{
    background-color:#379683!important;
    color: #edf5e1!important;
    border: #05386b solid 5px!important;
    font-weight: bold!important;
}
.resume-btn:hover
{
    background-color: #8ee4af!important;
    color: #05386b!important;
    border: #379683 solid 5px!important;
    /* font-weight: bold; */
    /* font-size: larger; */
}

/* --------------------------------TILES -------------------------------------------------*/
#aboutMe h2{
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}
.tiles {
    height: 400px;
    background-color:#5cdb95;
    color:#05386b;
    border: #379683 solid 1em;
    border-radius: 1.6em;
}
.card{
    border-radius: 1em !important;
    border: none !important;
}
.card img{
    border-radius: 1em !important;
    
}

/* ---------FLIP TILE EFFECT------------  */
.flip-tile
{
    height: 400px;
    background: transparent;
    border: transparent solid 0.5em;
    
    perspective: 1000px; /* 3d-effect*/
    margin-top: 0.8em;
}
/* container to position front and back */
.flip-tile-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* do horizontal flip on mouse hover */
.flip-tile:hover .flip-tile-inner
{
    transform: rotateY(180deg);
}


/* position of front and back */
.flip-tile-front, .flip-tile-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /*safari*/
    backface-visibility: hidden;
}
/* style - front-side*/
.flip-tile-front
{
    background-color: black;
    color: white;
    border: solid 0.4em #edf5e1;
    border-radius: 1em;
    
}
.flip-tile-back
{
    background-color:#05386b;
    border: solid 1em  #379683;
    border-radius: 1.6em;
    transform: rotateY(180deg);
    font-size: 1.5em;
}


/* --------------------------PROJECTS------------------------ */
.projectHeading{
    letter-spacing: 0.3rem;
    border-radius: 0em 5em 0em;
    font-family: 'Fredericka the Great', cursive;
    /* vertical-align: middle !important; */
}
.projectHeading h1
{
    position: relative;
    top: 35%;
    font-size: 9vh;
    
}
 

  
