
/* .carousel-item img{
    height: 600px;
    width: 1000px;
} */

.tiles {
    height: 400px;
    background-color: black;
    color: white;
    border: white solid;
    border-radius: 1em;
}

/* ---------FLIP TILE EFFECT------------  */
.flip-tile
{
    height: 400px;
    background: transparent;
    border: white solid;
    perspective: 1000px; /* 3d-effect*/
}
/* container to position front and back */
.flip-tile-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* do horizontal flip on mouse hover */
.flip-tile:hover .flip-tile-inner
{
    transform: rotateY(180deg);
}
/* position of front and back */
.flip-tile-front, .flip-tile-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /*safari*/
    backface-visibility: hidden;
}
/* style - front-side*/
.flip-tile-front
{
    background-color: black;
    color: white;
    border-radius: 1em;
}
.flip-tile-back
{
    background-color: dodgerblue;
    color: white;
    border-radius: 1em;
    transform: rotateY(180deg);
}


/*------------------------------- HEADING NAME FLIP------------------------------  */

.flipLetter-eng,  .flipSuffix-hin{
   display: none;
}
.flipName:hover .flipLetter-eng{
    display: initial;
}
.flipName:hover .flipSuffix-hin{
    display: initial;
} 
.flipName:hover .flipLetter-hin{
    display: none;
}
.flipName:hover .flipSuffix-eng{
    display: none;
}


/* --------------------------PROJECTS------------------------ */
.projectHeading{
    letter-spacing: 0.5rem;
    border-radius: 0em 5em 0em;
}
/* 
.projectHeading h1{
    transform: rotate(-25deg);
} */

.card
{
    border-radius: 0.5em !important;
    border: none !important;
}
.card img{
    border-radius: 0.5em !important;
}