
/* -------------------------FONTS------------------------ */

/*-----------HINDI-----------------------
font-family: 'Amita', cursive;
font-family: 'Arya', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Rozha One', serif;
*/
/*-------------------- English--------------------------

font-family: 'Damion', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Mystery Quest', cursive;
font-family: 'Permanent Marker', cursive;
*/

/*------------------------- NAVBAR -------------------------------*/
nav{
    border-radius: 0.5em 0.5em 0 0 !important;
}
/* --------------------------------HEADER --------------------------------*/
header{
    border-radius: 0 0 0.5em 0.5em !important;
}
header h1{
    font-family: 'Amita', cursive;
}

@media (max-width: 576px) {
    .jumbotron h1 {
    font-size: 4rem !important;
  } 
} 

/*------------------------------- HEADING NAME FLIP------------------------------  */

.flipLetter-eng,  .flipSuffix-hin{
    display: none;
 }
 .flipName:hover .flipLetter-eng{
     display: initial;
 }
 .flipName:hover .flipSuffix-hin{
     display: initial;
 } 
 .flipName:hover .flipLetter-hin{
     display: none;
 }
 .flipName:hover .flipSuffix-eng{
     display: none;
 }
 

 /* --------------------QUOTES--------------------------------------- */

 .carousel
 {
     height: 8rem;
 }
 .carousel ol{
     top: 8em;
 }
 .carousel-inner{
     height: 95% !important;
     font-family: 'Arya', sans-serif;
 }
 blockquote p{
     font-size: 1.4rem !important;
 }
 blockquote footer{
     font-size: 90% !important;
 }
/* --------------------------------TILES -------------------------------------------------*/
#aboutMe h2{
    font-family: 'Fredericka the Great', cursive;
}
.tiles {
    height: 400px;
    background-color: black;
    color: white;
    border: white solid;
    border-radius: 1em;
}
.card{
    border-radius: 0.5em !important;
    border: none !important;
}
.card img{
    border-radius: 0.5em !important;
}

/* ---------FLIP TILE EFFECT------------  */
.flip-tile
{
    height: 400px;
    background: transparent;
    border: white solid;
    perspective: 1000px; /* 3d-effect*/
}
/* container to position front and back */
.flip-tile-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* do horizontal flip on mouse hover */
.flip-tile:hover .flip-tile-inner
{
    transform: rotateY(180deg);
}
/* position of front and back */
.flip-tile-front, .flip-tile-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /*safari*/
    backface-visibility: hidden;
}
/* style - front-side*/
.flip-tile-front
{
    background-color: black;
    color: white;
    border-radius: 1em;
}
.flip-tile-back
{
    background-color: dodgerblue;
    color: white;
    border-radius: 1em;
    transform: rotateY(180deg);
}


/* --------------------------PROJECTS------------------------ */
.projectHeading{
    letter-spacing: 0.5rem;
    border-radius: 0em 5em 0em;
    font-family: 'Fredericka the Great', cursive;
    /* vertical-align: middle !important; */
}
.projectHeading h1{
    position: relative;
    top: 35%;
}
/* @media (max-width: 576px) {
    .projectHeading h1 {
    font-size: 2.5rem !important;
  }  */
} 

  
