
.head{
    height: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
}
/* TILE FORMATION */
.box-container{
  margin:  20px 0; 
  width: 100%;
  padding: 6px 0;
   background-image: url(background/q3.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-color: black;
}
.box-left{
    
    border-left: black solid 20px;
    border-right: black solid 15px;
    border-top: solid black 20px;
    border-bottom: solid black 20px;
    height:500px;
    width: 30%;
    margin-left: 18%;
    margin-right: -0.5%;
    margin-top: -0.5%;
    margin-bottom:-0.5%;
    display: inline-block;

}
.box-right{
    border-left: black solid 15px;
    border-right: black solid 20px;
    border-top: solid black 20px;
    border-bottom: solid black 20px;
    height:500px;
    width: 30%;
    margin-left: -0.5%;
    margin-right: 5%;
    margin-top: -0.5%;
    margin-bottom:-0.5%;
    display: inline-block;

}
.art{
    background: transparent;
    
    
}
.education{
    background: transparent;
  
}
.motivation{
    background: transparent;
    
}
.home{
    background: transparent;
    
}
.projects{
    background: transparent;
   
    
}
.blog{
    background: transparent;
    
    
}
/* FLIPPING THE TILE */
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .object {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box:hover .object{
    transform: rotateY(180deg);
  }
  .front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .front-card {
    background:transparent;
    color: black;
  }
  .back-card {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  


